/* Cores para os status */
.status {
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    min-width: 120px;
  }
  
  /* Cores aplicadas aos status */
  .status.finalizada {
    background-color: #28A745;
    color: white;
  }
  
  .status.em-andamento {
    background-color: #FFC107;
    color: black;
  }
  
  .status.parada {
    background-color: #DC3545;
    color: white;
  }
  
  .status.inativa {
    background-color: #6C757D;
    color: white;
  }
  
  .status.em-manutencao {
    background-color: #007BFF;
    color: white;
  }
  